<h4 class="ui horizontal section divider header">What In Box</h4>
<div class="ui four doubling cards">
            {% for item in resources %}
                {% include '@VldmrkSyliusWhatInBoxPlugin/Shop/WhatInBox/_item.html.twig' with {data: item} %}
            {% endfor %}
</div>
